<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.dompseler.mcow" version="0.0.1" android-versionCode="1" ios-CFBundleVersion="1" xmlns="http://www.w3.org/ns/widgets">

    <!-- App Info -->
    <name>MCOW</name>
    <description>
        A javascript framework suitable for webapps and hybrid apps
    </description>
    <author email="herman@dompseler.nl" href="http://dompseler.nl/">
        Herman van Dompseler
    </author>
    
    <!-- starting page -->
	<content src="index.html" />

    <!-- external access -->
    <!-- <access origin="http://sciomino.com" subdomains="true" />
    <access origin="http://sciomino.nl" subdomains="true" /> -->
    <access origin="*" subdomains="true" />
    
    <!-- debug off -->
    <!-- <feature name="debug-server" required="false" /> -->

    <!-- App preferences -->
    <preference name="orientation" value="portrait" /> 
    <!-- fix ui --> 
    <preference name="DisallowOverscroll" value="true" /> 
    <!-- splashscreen options --> 
    <preference name="AutoHideSplashScreen" value="false" /> 
    <preference name="ShowSplashScreenSpinner" value="false" /> 
    <!-- Adroid specific -->
    <!-- target an android sdk version for hardware acceleration -->
    <preference name="android-minSdkVersion" value="14"/> //android 4.0
	<preference name="android-targetSdkVersion" value="19"/> //android 4.4

    <!-- App icons -->
    <platform name="android">
		<icon src="www/gfx/icons/36.png" density="ldpi" />
		<icon src="www/gfx/icons/48.png" density="mdpi" />
		<icon src="www/gfx/icons/72.png" density="hdpi" />
		<icon src="www/gfx/icons/96.png" density="xhdpi" />
   </platform>

    <!-- Splash screens -->
	<platform name="android">
		<splash src="www/gfx/splash/ldpi.png" density="ldpi"/>
		<splash src="www/gfx/splash/mdpi.png" density="mdpi"/>
		<splash src="www/gfx/splash/hdpi.png" density="hdpi"/>
		<splash src="www/gfx/splash/xhdpi.png" density="xhdpi"/>
	</platform>

    <!-- plugins
    dialog: cordova plugin add org.apache.cordova.dialogs
    splash: cordova plugin add org.apache.cordova.splashscreen 
    browser: cordova plugin add org.apache.cordova.inappbrowser 
    device: (NOT YET NEEDED)
    network: cordova plugin add org.apache.cordova.network-information 
    globalization: (NOT YET NEEDED)
    camera: cordova plugin add org.apache.cordova.camera
    statusbar: cordova plugin add org.apache.cordova.statusbar

    social sharing: cordova plugin add https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git
    custom url: cordova plugin add https://github.com/EddyVerbruggen/LaunchMyApp-PhoneGap-Plugin.git \-\-variable URL_SCHEME=timebox
	toast: cordova plugin add nl.x-services.plugins.toast
    keyboard: cordova plugin add com.ionic.keyboard
    -->
 
</widget>
